:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-extra-white: #F1F5F7;
    --basic-red: #EE3643;
    --basic-red2: #CA2C37;
    --basic-red3: #BA2732;
    --basic-dark: #32425C;
    --basic-yellow: #FFD180;
    --basic-extra-gray: #888888;
    --basic-light-gray: #A9A9A9;
    --basic-top-bottom: #293449;
    --basic-light-green: #63A63E;
    --basic-green2: #5FBB2D;
    --basic-blockYellow: #FFBF47;
    --basic-blockBlue: #3BBCE3;
    --basic-blockPink: #DC91D8;
    --basic-blockgreen: #8ED78F;
    --basic-border-gray: #EAEAEA;
    --basic-footer-text: #F3F7F9;
    --basic-button-gray1: #C4C4C4;
    --basic-gray2: #C5C5C5;
    --basic-gray3: #212A3A;
    --basic-color: #1D2739;
    --basic-green3: #518534;
    --basic-fon: #F9F5F0;
    --basic-fon2: #F7F3EC;
    --basic-fon3: #E5E5E5;
}

@font-face {
    font-weight: 400;
    font-family: "Cuprum";
    src: local("Cuprum"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: "Cuprum";
    src: local("Cuprum"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: "Cuprum";
    src: local("Cuprum"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: "Cuprum";
    src: local("Cuprum"), url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: "PT Sans";
    src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: "PT Sans";
    src: local("PT Sans"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-width: 940px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "cuprum", "arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--basic-black);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.center {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.page-body ul {
    list-style: none;
}

.link-btn {
    display: inline-block;
    width: 192px;
    text-decoration: none;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    background-color: var(--basic-red);
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
}

.popular-products-heading,
.popular-manufacturers-heading,
.services-section-heading {
    font-size: 30px;
    line-height: 1em;
    color: var(--basic-dark);
}

.services-heading,
.about_company-heading,
.contacts-heading {
    font-size: 30px;
    line-height: 1em;
    color: var(--basic-black);
}

.main-header {
    background-color: var(--basic-extra-white);
    margin-bottom: 59px;
}

.header-menu {
    height: 42px;
    background-color: var(--basic-top-bottom);
    margin-bottom: 37px;
}

.header-menu .center {
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.header-search-form {
    width: 290px;
}

.header-search-form label {
    color: var(--basic-white);
}

.header-menu-bookmarks {
    background: url(../img/icon-bookmark.svg) no-repeat;
    padding-left: 20px;
    margin-right: 50px;
}

.header-menu-bookmarks:hover {
    background: url(../img/icon-bookmark2.svg) no-repeat;
    padding-left: 20px;
}

.header-menu-cart {
    background: url(../img/icon-cart.svg) no-repeat;
    padding-left: 20px;
    margin-right: 26px;
}

.header-menu-cart:hover {
    background: url(../img/icon-cart2.svg) no-repeat;
    padding-left: 20px;
}

.header-menu-link:hover {
    background: var(--basic-green2);
}

.search {
    background: url(../img/icon-search.svg) no-repeat;
    padding-left: 20px;
}

.search:hover {
    background: url(../img/icon-search2.svg) no-repeat;
    padding-left: 20px;
}

.header-menu-cart:active,
.header-menu-bookmarks:active,
.search:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-menu-list a {
    margin: 0;
    padding: 0;
    color: var(--basic-white);
    text-decoration: none;
}

.header-menu-link {
    width: 150px;
    background-color: var(--basic-light-green);
}

.main-heading {
    margin: 0;
    padding: 0;
    color: var(--basic-red);
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.header-content .center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.header-content-heading {
    width: 237px;
    padding-left: 40px;
}

.header-contacts {
    width: 275px;
}

.header-contacts h2 {
    margin: 0;
    padding: 0;
}

.header-contacts a {
    display: block;
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    padding: 4px 50px 5px 73px;
    margin-bottom: 3px;
    border: 3px solid var(--basic-white);
}

.header-contacts p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--basic-dark);
    text-align: center;
}

.login-register {
    display: flex;
    justify-content: space-between;
    width: 281px;
    height: 45px;
}

.register-link,
.login-link {
    display: block;
    margin: 0;
    padding: 0;
    color: var(--basic-black);
    font-size: 21px;
    line-height: 1em;
    text-decoration: none;
    background: var(--basic-white);
}

.login-link {
    padding: 12px 27px 12px 45px;
}

.register-link {
    padding: 12px 24px;
}

.login-link:hover,
.register-link:hover {
    color: var(--basic-red);
}

.login-link:active,
.register-link:active {
    color: var(--basic-gray2);
}

.login-link:hover {
    background: url(../img/icon-login2.svg) no-repeat 0 15px;
}

.main-navigation {
    padding-bottom: 60px;
}

.main-navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--basic-dark);
    margin: 0;
    padding: 0;
    padding: 16px 53px 20px 53px;
}

.main-navigation-item a,
.footer-nav-item a {
    text-decoration: none;
    color: var(--basic-white);
}

.main-navigation-item:hover {
    background: var(--basic-top-bottom);
}

.main-navigation-item:active {
    background: var(--basic-color);
    opacity: 0.5;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.content-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}

.content-item {
    width: 300px;
    height: 123px;
}

.content-item h2 {
    display: inline-block;
    color: var(--basic-white);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin: 20px 55px 14px 22px;
}

.content-item a {
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 135px;
    height: 38px;
    text-align: center;
    margin-left: 23px;
    background-color: rgba(255, 255, 255, 0.3);
}

.content-item a:hover {
    background: rgba(196, 196, 196, 0.3);
}

.content-item a:active {
    background: rgba(0, 0, 0, 0.25);
}

.content-item img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.content-item-slide {
    background: url(../img/slide-img-perforator.jpg) no-repeat;
    width: 620px;
    height: 266px;
    grid-column: 1/3;
    grid-row: 2/-1;
}

.content-item-slide h2 {
    color: var(--basic-white);
    font-size: 36px;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    margin-bottom: 5px;
    margin-left: 24px;
}

.content-item-slide p {
    color: var(--basic-white);
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-bottom: 113px;
}

.content-item-slide a {
    padding: 11px 46px 9px 46px;
    margin-left: 24px;
}

.content-item-slide a:hover {
    background: var(--basic-red2);
}

.content-item-slide a:active {
    background: var(--basic-red3);
}

.content-item1 {
    background-color: var(--basic-blockYellow);
}

.content-item2 {
    background-color: var(--basic-blockBlue);
}

.content-item3 {
    background-color: var(--basic-blockPink);
}

.content-item4 {
    background-color: var(--basic-blockgreen);
}

.content-item5 {
    background-color: var(--basic-blockYellow);
}

.popular-products-list,
.catalog-products-list {
    font-family: "PT Sans", arial, sans-serif;
    margin: 0;
    padding: 0;
}

.popular-products-header,
.popular-manufacturers-header {
    width: 940px;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
    margin-bottom: 20px;
    background: var(--basic-fon);
}

.popular-products-heading {
    margin: 0;
    padding: 0;
    margin-left: 28px;
}

.popular-products-header .link-btn {
    margin-right: 14px;
}

.popular-products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-products-item {
    width: 220px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-light-gray);
    text-decoration: line-through;
    text-align: center;
}

.new-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-align: center;
}

.popular-manufacturers-heading {
    margin: 0;
    padding: 0;
    margin-left: 28px;
}

.popular-manufacturers-header .link-btn {
    margin-right: 14px;
}

.popular-manufacturers-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.popular-manufacturers-item {
    display: inline-block;
    width: 220px;
    height: 145px;
    border: 1px solid var(--basic-border-gray);
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.popular-manufacturers-item:nth-child(4n) {
    margin-right: 0;
}

.popular-manufacturers-item:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
}

.popular-manufacturers-item:active {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.5;
}

.services {
    background: var(--basic-extra-white);
    margin-top: 70px;
    margin-bottom: 70px;
}

.services .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 99px;
}

.services-header {
    width: 100%;
    margin-bottom: 70px;
}

.services-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.text {
    font-family: "PT Sans", arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.button {
    width: 240px;
    height: 61px;
    background-color: var(--basic-dark);
    border: none;
    color: var(--basic-white);
}

.button:hover {
    color: var(--basic-white);
    background-color: var(--basic-top-bottom);
}

.button:active {
    background: var(--basic-white);
    color: var(--basic-dark);
}

.services-section {
    position: relative;
    width: 619px;
    /* background: url(../img/delivery-logo.png) no-repeat;*/
}

.services-section::after {
    content: url(../img/delivery-logo.png);
    position: absolute;
    top: 37px;
    right: 0;
}

.about_us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.about_us h3,
.about_us a,
.about_us img,
.about_us p,
.about_us ul {
    margin: 0;
    padding: 0;
}

.about_us h3 {
    margin-bottom: 24px;
}

.contacts {
    width: 300px;
}

.contacts p {
    margin-bottom: 32px;
}

.contacts img {
    margin-bottom: 25px;
}

.contacts .link-btn {
    width: 100%;
}

.about_company ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.about_company ul>li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 37px;
}

.about_company-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 25px;
    height: 2px;
    background: var(--basic-red);
}

.main-footer {
    background-color: var(--basic-dark);
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 54px;
}

.footer-nav {
    width: 546px;
}

.main-footer-header {
    width: 333px;
}

.main-footer-logo {
    display: inline-block;
    margin-bottom: 22px;
}

.main-footer-text {
    margin: 0;
    padding: 0;
    color: var(--basic-footer-text);
}

.main-footer-text a {
    text-decoration: none;
    color: inherit;
}

.footer-nav-list1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer-nav-list2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 18px;
}

.footer-nav-item a {
    font-size: 18px;
}

.footer-nav-item2 a {
    color: var(--basic-yellow);
}

.footer-nav-item:hover,
.footer-nav-item:focus {
    text-decoration: underline;
}

.footer-nav-item:active {
    opacity: 0.5;
}

.footer-bottom {
    background: var(--basic-top-bottom);
}

.footer-bottom .center {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 34px;
}

.footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-copyright p {
    margin: 0;
    padding: 0;
}

.footer-social-item {
    display: inline-block;
    border-radius: 50%;
    background: var(--basic-gray3);
    padding: 10px;
}

.footer-social-item:hover,
.footer-social-item:active {
    background: var(--basic-red);
}

.footer-contact_us-list {
    width: 286px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-contact_us-link {
    color: var(--basic-yellow);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer-contact_us-item p {
    margin: 0;
    padding: 0;
}

.footer-contact_us-item a:hover {
    text-decoration: underline;
}

.footer-contact_us-item a:active {
    color: var(--basic-red);
    text-decoration: none;
}

.user-name {
    font-size: 21px;
}

.user-section-list-item a {
    color: var(--basic-dark);
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.user-section-list-item:last-child {
    list-style-type: disc;
}

.user-section-list-item a:hover {
    color: var(--basic-red);
}

.user-section-list-item a:active,
.user-name:active {
    color: var(--basic-gray2);
}

.filter-section-heading,
.sorting-heading,
.sorting-list-item,
.filter-form-btn,
.catalog-menu-list {
    font-family: "PT Sans", arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
}

.catalog-menu-list a,
.sorting-list-item a {
    font-family: "PT Sans", arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-black);
}

.catalog-menu-list-item {
    background: url(../img/icon-right-small.svg) no-repeat right center;
    padding-right: 17px;
}

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.sorting-list-item a:visited {
    color: var(--basic-red);
}

.sorting {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    background: var(--basic-fon2);
}

.catalog-section-heading {
    color: var(--basic-dark);
    font-size: 30px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    background: var(--basic-extra-white);
}

.filter-form-section-heading {
    color: ver(--basic-black);
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filter-section-heading {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    background: var(--basic-fon2);
}

.filter-form-section input[type="range"] {
    display: inline-block;
    background: var(--basic-fon2);
    width: 220px;
    padding: 39px 0;
    text-align: center;
}

.filter-form-section span {
    background: var(--basic-fon2);
    display: inline-block;
    width: 95px;
    padding: 10px 0;
    text-align: center;
}

.filter-form-list-item input {
    font-family: "PT Sans", arial, sans-serif;
    font-size: 15px;
    line-height: 19px;
}

.filter-form-list-item input[type="checkbox"] {
    margin-right: 12px;
    margin-top: 20px;
}

.filter-form-list-item input[type="radio"] {
    margin-right: 10px;
    margin-top: 22px;
}

.filter-form-btn {
    width: 100%;
    text-align: center;
    border: 1px solid var(--basic-fon3);
    padding: 10px 0;
    margin-top: 34px;
}

.catalog-products-list {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px
}

.catalog-products-list-item a {
    color: var(--basic-black);
    text-decoration: none;
}

.buy-btn a {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background: var(--basic-light-green);
}

.catalog-btn {
    width: 130px;
    border: 3px solid var(--basic-light-green);
}

.buy-btn a:hover {
    background: var(--basic-green2);
}

.buy-btn a:active {
    background: var(--basic-green3);
}

.bookmarks-btn:hover {
    border: 3px solid var(--basic-dark);
    color: var(--basic-dark);
}

.bookmarks-btn:active {
    opacity: 0.5;
}

.turn-page-list-item a {
    color: var(--basic-black);
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid var(--basic-border-gray);
}

.turn-page-list-item {
    margin-bottom: 20px;
}

.turn-page-list-item a:hover,
.turn-page-list-item a:focus {
    color: var(--basic-white);
    background: var(--basic-red);
}

.info-heading {
    font-size: 30px;
    line-height: 1em;
}

.info h2,
.info p {
    margin: 0;
    padding: 0;
}

.info h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.info {
    background: var(--basic-extra-white);
    padding-top: 64px;
    padding-bottom: 68px;
}

.info-text {
    font-family: "PT Sans", arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}